.nav{
    position: fixed;
    top:0;
    right: 0;
    z-index: 1000;
    background-color: rgba(17, 17, 17, 0.9);
    box-shadow: 0px 0px 10px black;
    width: 25%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor:pointer;
}

.inactive{
    padding: 5px;
    font-size: 18px;
    color: rgb(145, 145, 145);
    transition: all 0.6s;
    border-bottom:2px solid rgba(137, 43, 226, 0);
}

.active {
    color: rgb(214, 214, 214);
    border-bottom:2px solid rgb(201, 23, 23);
}

@media only screen and (max-width: 950px) {
    .nav{
        display: none;
    }
}


@media only screen and (min-width: 1500px) {
    .nav{
        height: 65px;
        width: 20%;
    }
    .inactive{
        font-size: 22px;
    }
}